footer {
  width: 100%;
  height: 11rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 1px solid green; */
  background-color: white;
  /* background-image: url('../assets/images/wave.svg'); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  position: relative;
  background-color: #00cba9;
}

.bg-footer-img {
  /* width: 100vw; */
  /* height: 50rem; */
  /* position: absolute; */
  /* z-index: -1; */
  /* border: 1px solid red; */
}

.footer-box-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-box-item.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  /* position: absolute; */
}

.footer-box-item.paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Julius Sans One', sans-serif;
  /* position: absolute; */
}

.footer-box-item.socials a {
  color: black !important;
  font-size: 1.5rem;
}
