footer {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  background-color: #00cba9;
  gap: 1.3rem;
}

.line-div {
  border: 1px solid #108066;
  width: 80%;
  opacity: 0.6;
}

.footer-box {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;

  background-color: #00cba9;
}

.footer-box-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-box-item.paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-family: 'Julius Sans One', sans-serif;
}

.footer-box-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  text-decoration: none;
  gap: 0.5rem;
}

.footer-box-infos a {
  text-decoration: none;
  color: var(--text-gray);
  border-bottom: 1px solid var(--text-gray);
}

.footer-box-item.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* gap: 2rem; */
}

.socials-links {
  display: flex;
  gap: 1rem;
}

.footer-box-item.socials a {
  color: black !important;
  font-size: 1.5rem;
}

.footer-box-item a {
  margin-bottom: 0.5rem;
  transition: all 0.7s linear;
}
.footer-box-item a:hover {
  transform: translateY(-5px);
  scale: 1.1;
  transition: all 0.4s linear;
}

.authors-box {
  opacity: 0.9;
  color: var(--text-gray) !important;
}

.authors-box a {
  opacity: 0.9;
  text-decoration: none;
  border-bottom: 1px solid var(--text-gray) !important;
  color: var(--text-gray) !important;
}
