.header {
  width: 100%;
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  background-color: var(--white);
  border-bottom: 2px solid #108066;
}
.header h1 {
  font-family: 'Julius Sans One', sans-serif;
  color: #1c8c71;
  margin: 0;
}
.header-box-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.header-box-item a i {
  font-size: 1.7rem;
  color: #1c8c71;
}
