* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* width: 100vw; */
  background-color: white;
  overflow-x: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-group {
  width: 100%;
  border: 1px solid forestgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11rem;
  gap: 7rem;
  background-color: #00cba9;
}

.category-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.category-item a {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 6rem;
  border-radius: 99px;
  color: black;
  font-size: 2rem;
  transition: all 0.4s linear;
}

.category-item a:hover {
  scale: 1.1;
  transition: all 0.4s linear;
}

.last-posts-group {
  margin-top: 0rem !important;
}

.last-post-title {
  margin-top: 3rem;
  font-family: 'Julius Sans One', sans-serif;
}

.post-group {
  width: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  height: 20rem;
  margin: 0 !important;
}

.posts-group {
  margin: 0 !important;
}

.btn.btn-primary.posts {
  background-color: rgb(113, 112, 112);
  border: none;
}

.card {
  text-decoration: none;
  color: black;
  transition: all 0.6s linear;
}

.card:hover {
  scale: 1.04;
  transition: all 0.3s linear;
  cursor: pointer;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* .carousel-item img {
  width: 15rem;
  height: 15rem;
  max-width: 15rem;
  max-height: 15rem;
} */

/********** POSTS  ***********/
.posts-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  border-radius: 5px;
}

.post-item {
  background-color: white;
  width: 70%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  margin-bottom: 2rem;
  transition: all 0.5s linear;
  cursor: pointer;
  text-decoration: none;
  color: black;
  border: 1px solid gray;
}

.post-item:hover {
  scale: 1.04;
  transition: all 0.3s linear;
  cursor: pointer;
}

.post-img-box {
  width: 100%;
}

.img-post {
  width: 100%;
  height: 10rem;
  max-width: 100%;
  max-height: 10rem;
  border-radius: 5px 0px 0px 5px;
}

.post-text-box {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-price {
  font-size: 1.5rem;
}

.post-text-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.post-text-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: rgba(68, 68, 68, 0.812);
  font-size: 1rem;
}

.last-posts-group {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
}

/********* CARDS  **********/
.card {
  background-color: white;
  height: 25rem;
}

.card img {
  width: 100%;
  height: 50%;
}
